<!--批次列表-->
<table class="info-table SN-list">
    <thead>
    <tr>
        <template v-for="val in titles">
            <th v-bind:style="val.styleObject">
                {{val.text}}
            </th>
        </template>
    </tr>
    </thead>
    <tbody>
    <template v-for="val in dataList">
        <tr>
            <td>{{$index+1+page}}</td>
            <td>{{val.sn}}</td>　 
        </tr>
    </template>
    <template v-if="dataList.length==0"> 
        <tr class="tc">
            <td colspan="2"><b>没有数据</b></td>
        </tr>
    </template>
    </tbody>
</table>