<!--角色管理表格-->
<table class="info-table">
    <thead>
    <tr>
        <template v-for="val in titles">
            <th v-bind:style="val.styleObject">{{val.text}}</th>
        </template>
    </tr>
    </thead>
    <tbody>
    <template v-for="val in dataList">
        <tr data="{{val.roleId}}"> 
            <td>{{$index+1+page}}</td>
            <td>{{val.roleName}}</td>
            <td class="tools">
                <ul>
                    <li v-if="val.tools.editShow">
                        <a href="/html/system-manage/edit-role.html?roleId={{val.roleId}}&roleName={{val.roleName}}">{{val.tools.edit}}</a>
                    </li>
                    <li>
                        <a href="/html/system-manage/role-detail.html?roleId={{val.roleId}}&roleName={{val.roleName}}">{{val.tools.detail}}</a>
                    </li>
                </ul>
            </td>
        </tr>
    </template>
    <template v-if="dataList.length==0">
        <tr class="tc">
            <td colspan="6"><b>没有数据</b></td>
        </tr>
    </template>
    </tbody>
</table>